<!DOCTYPE html>
<html>
    <head>
        <title>solsort</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="True">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <!--link rel="apple-touch-icon-precomposed" href="icon.png">
        <link rel="icon" type="image/png" href="icon.png">
        <link rel="shortcut icon" href="icon.png"-->
    </head>
    <style>
        #canvas {
            position: fixed;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
        }
    </style>
    <body>
        <script src="http://api.solsort.com/solsortapi_clientid.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <canvas id="canvas"></canvas>
        <script src="./canvasapp.js"></script>
    </body>
</html>
